/* styles for the social widgets */

@define chatBorderColor: #000000; //#3e444677
@define chatBorderWidth: 1px;
@define chatBorderStyle: solid;

@define chatBackgroundColor: #161E24;

@define chatTransitionDuration: 0.3s;

#CustomChat
{
    flow-children: right;
    vertical-align: bottom;
}

#CustomChat.Hidden
{
	visibility: collapse;
}

.ChatCorePanel
{
	width: fill-parent-flow( 1.0 );
    vertical-align: bottom;

    transition-property: width, transform;
    transition-duration: chatTransitionDuration;
	transition-timing-function: ease-in-out;
}

#ChatMainPanel
{
    width: 100%;
    flow-children: down;
    vertical-align: bottom;
}

#ChatHeaderPanel
{
    padding: 5px 5px 0px 0px;
    width: 100%;
    opacity: 0.0;
    flow-children: right;
    transition-property: opacity;
    transition-duration: chatTransitionDuration;
    background-color: chatBackgroundColor;
	background-color: #2e3736fd;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #262d32fd ), color-stop( 0.9, #262d32fa ), to( #000000 ) );
	background-color: #000000f8;

    border-top: chatBorderWidth chatBorderStyle chatBorderColor;
    border-left: chatBorderWidth chatBorderStyle chatBorderColor;
    border-right: chatBorderWidth chatBorderStyle chatBorderColor;
}

.HudChat #ChatHeaderPanel
{
    visibility: collapse;
}

#ChatHeaderPanel Button, #ChatHeaderPanel Label
{
    vertical-align: middle;
}

#ChatHeaderSpacer
{
    width: fill-parent-flow( 1.0 );
}

#ChatChannelArea
{
	flow-children: right;		
}

.HudChat #ChatChannelArea
{
	width: 100%;
}

#ChatLinesArea
{
	width: 100%;
}

#CountContainer
{
	height: 18px;
	border-bottom: 1px solid #ffffff04;
}

.InfoIcon
{
	height: 12px;
	border-bottom: 1px solid #ffffff04;
	horizontal-align: right;
	margin: 0px;
	wash-color: #869797;
	pre-transform-scale2d: 0.25;
	opacity: 0;
	
	transition-property: pre-transform-scale2d, opacity;
	transition-duration: 0.2s;
}

#ChatLinesOverlay
{
    background-color: gradient( linear, 100% 0%, 100% 100%, from( #161E24ff ), color-stop( 0.02, #161E24ff ), color-stop( 0.2, #161E2400 ), to( #161E2400 ) );
	opacity: 0;
	width: 73.9%;
	height: 100%;
    border-left: chatBorderWidth chatBorderStyle chatBorderColor;
	
	transition-property: opacity;
    transition-duration: chatTransitionDuration;
}

.HudChat #ChatLinesOverlay
{
	width: 100%;
}

#ChatLinesContainer
{
    width: 516px;
    height: 75px;
    overflow: squish scroll;
	opacity-mask: url("s2r://panorama/images/masks/chat_preview_opacity_mask_png.vtex") 1.0;
    border-left: chatBorderWidth chatBorderStyle transparent;
    border-right: chatBorderWidth chatBorderStyle transparent;
    border-bottom: chatBorderWidth chatBorderStyle transparent;

	/* Flip the container vertically so that the scroll offset is measured from the bottom,
	   not the top. This is so that it remains constant when a new chat line is added or
	   the container grows/shrinks. */
    transform: scaleY( -1.0 );

    transition-property: background-color, height, opacity-mask;
    transition-duration: chatTransitionDuration;
}

.HudChat #ChatLinesContainer
{
	width: 100%;
}

#ChatLinesWrapper
{
    overflow: squish noclip;
    width: 100%;

}

#ChatLinesPanel 
{
    width: 100%;
    flow-children: down;
    vertical-align: top;
    overflow: squish noclip;
	padding-right: 14px;

	/* Reverse the transform done in #ChatLinesContainer so the text is rightside up */
    transform: scaleY( -1.0 );
	
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #0000 ), color-stop( 0.01, #0000 ), color-stop( 0.1, #0000 ), to( #0000 ) );
	
	
	transition-property: background-color;
	transition-duration: .23s;
	transition-timing-function: ease-in-out;
}

#HudChat.Active #ChatLinesPanel 
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #0000 ), color-stop( 0.01, #000a ), color-stop( 0.5, #000a ), to( #0000 ) );
}

#ChatLinesPanel VerticalScrollBar
{
    opacity: 0.0;
}

.ChatLinePersonaLabel
{
	min-width: 35px;
	font-weight: thin;
	font-size: 16px;
	border-radius: 4px;
	padding-left: 4px;
	padding-right: 4px;
	margin-bottom: -7px;
}

.ChatLinePersonaLabel:hover
{
	text-decoration: underline;
	background-color: #6F777D6f;
}

.ChatLine
{
    vertical-align: bottom;
    color: white;
	font-size: 16px;
	font-weight: thin;
	margin-top: -2px;
	margin-left: 5px;
	padding-top: 2px;
}

.ToggleOptionButton
{
	wash-color: #555555;
	transition-property: wash-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	background-repeat: no-repeat;
    background-position: 50% 50%;
	transform-origin: 50% 10%;
}
	
.ToggleOptionButton:hover
{
	wash-color: #888888;
}	

.ToggleOptionButton:selected, .ToggleOptionButton:selected
{
	wash-color: #AFDEE2;
}

.ToggleOptionButton:selected:hover, .ToggleOptionButton:selected:hover
{
	wash-color: white;
}

#ChatTabOptionsContents ToggleButton, #ChatTabOptionsContents Button
{
	vertical-align: middle;
}

#ChatTabOptions.TabOptionsVisible #ChatTabOptionsContents
{
	transform: translateY( 0% );
}

#ChatTabOptions.TabOptionsVisible
{
	visibility: visible;
}

#CloseTabButton, .ToggleOptionButton
{
	visibility: collapse;

	tooltip-position: bottom;
}

#ChatTabOptions.CanClose #CloseTabButton
{
	visibility: visible;
}

#CustomChat.ChatExpanded
{
    sound: "ui_chat_slide_in";
    sound-out: "ui_chat_slide_out";
}

#CustomChat.ChatExpanded #ChatLinesContainer
{
    height: 232px;
    background-color: chatBackgroundColor;
  	opacity-mask: url("s2r://panorama/images/masks/chat_preview_opacity_mask_png.vtex") 0.0;
    border-left: chatBorderWidth chatBorderStyle chatBorderColor;
    border-right: chatBorderWidth chatBorderStyle chatBorderColor;
    border-bottom: 0px chatBorderStyle transparent;
}

#CustomChat.ChatExpanded #ChatHeaderPanel
{
    opacity: 1.0;
}

#CustomChat.ChatExpanded #ChatLinesPanel VerticalScrollBar
{
	opacity: 1.0;
}

#CustomChat.ChatExpanded #ChatLinesOverlay
{
	opacity: 1.0;
}

#CustomChat.ChatExpanded #ChatTotalMissed
{
	opacity: 0.0;
}

#CustomChat.ChatExpanded #ChatTotalMissed.HasMissedMessages.MissedMessagesAcknowledged
{
	opacity: 0.0;
}


#ChatControls
{
    flow-children: right;
    border: chatBorderWidth chatBorderStyle chatBorderColor;
    background-color: chatBackgroundColor;
	background-color: black;
}

#ChatTabsPanel
{
    flow-children: right;
    vertical-align: bottom;
	max-width: 516px;
	overflow: scroll squish;
}

#ChatTabsPanel.CanScrollHorizontal
{
	padding-left: 17px;
	padding-right: 20px;
}

#ChatTab#ChatTabsPanel #HorizontalScrollBar
{
	margin-bottom: 5px;
}

#ChatHeaderPanel Button
{
	vertical-align: top;
	margin: 0px;
}

#ChatHeaderPanel Button:hover
{
	border: 1px solid #454D53;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #3B4745 ), color-stop( 0.4, #232F37 ), to( #202B34 ) );
}

#ChatTabHelpButton
{
    vertical-align: middle;
	height: 30px;
    width: 32px;
	background-color: #2c3434;
	border-right: 1px solid black;
	wash-color: #cccccc;
	transition-duration: 0s;
}

#ChatTabHelpButton:hover
{
	background-color: #363D3E;
	wash-color: white;
}

#ChatTabHelpButton:active
{
	wash-color: #999999;
}

.HelpButton:hover Label
{
	wash-color: white;
}

#ChatTabHelpButton Label
{
	text-align: center;
	margin-top: 0px;
	margin-left: 3px;
	font-size: 24px;
	font-weight: thin;
	transition-duration: 0s;
}

.HelpButton Label
{
    wash-color: none;
}

#ChatScrollUpButton,
#ChatScrollDownButton
{
	visibility: collapse;
	wash-color: #303435;
}

Panel#CustomChat.CanScrollDown #ChatScrollUpButton,
Panel#CustomChat.CanScrollUp #ChatScrollDownButton
{
	wash-color: #737f83;
}

Panel#CustomChat.CanScrollDown #ChatScrollUpButton:hover,
Panel#CustomChat.CanScrollUp #ChatScrollDownButton:hover
{
	wash-color: #b3c6cc;
}

Panel#CustomChat #ChatScrollUpButton,
Panel#CustomChat #ChatScrollDownButton
{
	visibility: visible;
	wash-color: #565f62;
}

Panel#CustomChat #ChatScrollUpButton:hover,
Panel#CustomChat #ChatScrollDownButton:hover
{
	wash-color: #707C8044;
}

.ChatTimestamp
{
	width: 100%;
	flow-children: right;
}

.ChatTimestamp Label
{
    font-size: 12px;
    color: #596b75;
}

.ChatTimestampFiller
{
	width: fill-parent-flow( 1.0 );
	height: 1px;
	margin: 0px 6px;
	vertical-align: middle;
}

.ChatTimestampFillerLeft
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #596b7511 ), to( #596b7533 ) );
}

.ChatTimestampFillerRight
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #596b7511 ), to( #596b7533 ) );
}
		
.ChatTarget
{
    font-size: 14px;
	font-style: italic;
}

.ChatPersona
{
    font-size: 16px;
}

#ChatTargetLabel, #ChatEmoticonButton, #ChatScrollUpButton, #ChatScrollDownButton
{
    height: 100%;
    vertical-align: middle;
}

#ChatTargetLabel, #ChatInput
{
    font-size: 16px;
    padding: 6px 3px 5px 3px;
    vertical-align: middle;
}

#ChatTargetLabel
{
    padding-right: 0px;
	padding-left: 5px;
}

.ChatTargetHidden #ChatTargetLabel
{
	visibility: collapse;
}

.ChatTargetHidden #ChatInput
{
	padding-left: 6px;
}

#ChatInput
{
    vertical-align: bottom;
    width: fill-parent-flow( 1.0 );
	height: fit-children;
	height: 32px;
    border: 0px solid black;
	background-color: rgba(0,0,0,0);
	white-space: nowrap;
}

#ChatInput #PlaceholderText
{
    font-size: 16px;
	margin-top: 0px;
    margin-bottom: -5px;
}

#ChatScrollUpButton
{
    background-image: url("s2r://panorama/images/control_icons/arrow_solid_up_png.vtex");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 5px;
    width: 30px;
}


#ChatScrollDownButton
{
    background-image: url("s2r://panorama/images/control_icons/arrow_solid_down_png.vtex");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 5px;
    width: 30px;
}

#ChatTabShareButton
{
    background-image: url("s2r://panorama/images/control_icons/share_profile_psd.vtex");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 31px;
	height: 31px;
	background-color: #2c3434;
	border: 1px solid black;
	wash-color: #cccccc;

	context-menu-position: top;
	context-menu-body-position: 100% 100%;

	visibility: collapse;
}

.DashboardChat #ChatTabShareButton
{
	visibility: visible;
}

#ChatTabShareButton:hover
{
	background-color: #363D3E;
	wash-color: white;
}

#ChatTabShareButton:active
{
	wash-color: #999999;
}

#ChatOverlayPanel
{
    vertical-align: bottom;
    margin-bottom: 35px;
    width: 100%;
}

#ChatAutocompletePanel
{
    vertical-align: bottom;
}

#ChatDialogVariablePanel, #ChatMessageTempLabel
{
	visibility: collapse;
}

.CloseButton
{
	width: 18px;
	height: 18px;
	background-size: 18px;
	horizontal-align: right;
	margin-right: 0px;
	padding: 2px;
}

ToggleButton:hover .TickBox
{
	border: 0px solid transparent;
}

Panel#CustomChat
{
	horizontal-align: center;
	vertical-align: bottom;

	y: -240px;

	width: 700px;
	height: 400px;

	transition-property: position;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

Panel#CustomChat.Channeling
{
	y: -340px;
}

Panel#CustomChat #ChatLinesContainer,
Panel#CustomChat #ChatHeaderPanel
{
	border: 0px solid black;

	height: 162px;
	margin-bottom: 0px;

	background-color: #00000000;

	opacity-mask: url("s2r://panorama/images/masks/hudchat_mask_psd.vtex") 1.0;
}

Panel#CustomChat #ChatControls
{
	opacity: 0;
	background-color: #000c;
	text-shadow: 1px 1.5px 0px 2 #000000;
	border-radius: 6px;
	margin-top: -1px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #000f ), color-stop( 0.8, #000d ), to( #000a ) );
}

Panel#CustomChat.Active #ChatControls
{
	opacity: 1;
}

Panel#CustomChat #ChatLinesOverlay
{
	background-color: #00000000;
	border-left: 0px solid black;
}


Panel#CustomChat .ChatLine
{
	font-size: 18px;
	width: 650px;
	max-width: 650px;
	font-weight: bold;

	text-shadow: 1px 1.5px 0px 2 #000000;
}

Panel#CustomChat .ChatTarget
{
    font-size: 18px;
	font-style: normal;
	font-weight: bold;
}

Panel#CustomChat .WhisperChat .ChatTarget,
Panel#CustomChat .GameAllChat .ChatTarget,
Panel#CustomChat .GameAlliesChat .ChatTarget
{
	color: #fbe6b9;
}

Panel#CustomChat .ChatPersona
{
    font-size: 20px;
}

Panel#CustomChat .ChatLine.Expired
{
	transition-property: opacity!immediate;
	transition-duration: 0.3s;

	opacity: 0;
}

Panel#CustomChat.Active .ChatLine.Expired
{
	transition-property: opacity!immediate;
	transition-duration: 0.1s;

	opacity: 1;
}

Panel#CustomChat #ChatLinesContainer #VerticalScrollBar
{
	opacity: 0;
}

Panel#CustomChat .ChatTimestamp
{
    visibility: collapse;
}

Panel#CustomChat .PlayerColor0 { color: HeroSlot0Color; }
Panel#CustomChat .PlayerColor1 { color: HeroSlot1Color; }
Panel#CustomChat .PlayerColor2 { color: HeroSlot2Color; }
Panel#CustomChat .PlayerColor3 { color: HeroSlot3Color; }
Panel#CustomChat .PlayerColor4 { color: HeroSlot4Color; }
Panel#CustomChat .PlayerColor5 { color: HeroSlot5Color; }
Panel#CustomChat .PlayerColor6 { color: HeroSlot6Color; }
Panel#CustomChat .PlayerColor7 { color: HeroSlot7Color; }
Panel#CustomChat .PlayerColor8 { color: HeroSlot8Color; }
Panel#CustomChat .PlayerColor9 { color: HeroSlot9Color; }

Panel#CustomChat .GameAllChat,
Panel#CustomChat .GameAlliesChat
{
	font-weight: bold;
	font-size: 18px;
}